body {
  font-family: Arial, sans-serif;
  background: #0b3d0b;
  color: white;
  text-align: center;
}

.card {
  border: 1px solid #fff;
  padding: 5px;
  display: inline-block;
  background: #222;
  margin: 5px;
  font-size: 20px;
}
